
body{
    background-image: url(images/desktop/image-header.jpg) ; 
    background-size: contain;
     background-repeat: no-repeat;  
     /* font-family: Barlow; */
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#h{
    text-align: center;
    font-size: 70px;
    font-family: Fraunces;
    color: white;
}
nav{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    color: white;
}
#bt{
    margin-top: -10px;
    border: 1px solid transparent;
    background-color: aliceblue;
    border-radius: 40px;
    padding: 10px;
    color: black;
}
img#i{
    width: 1020px;
}
.box1{
    position: relative;
    top: 585px;
    display: flex;
    flex-direction: column;
}
#bo{
    display: flex; 
    justify-content: space-between;
}
#pa1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center ;

}
#im{
    height: 600px;
    margin-left: 120px;
    
}
#bo1{
    display: flex;
    flex-direction: row-reverse;
}
#pa2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center ;
}
#bo2{
    display: flex;
}
#pa3{
    position: relative;
    right: 470px;
    top: 300px;
}
div.bot{
    display: flex;
    justify-content: center;
}
#pa4{
    position: relative;
    left: 270px;
    bottom: 250px;
    width: 100px;
}